@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/* доп классы */
.m-c{
	margin-top: auto;
	margin-bottom: auto;
}
.flex{
	display: flex;
}
/* кнопки */
.gradButtonPurple{
	background: radial-gradient(149.69% 2611.02% at 100% 182%, #A55EEA 0%, #45AAF2 100%),
				linear-gradient(0deg, #FFFFFF, #FFFFFF);
	
	margin: auto;

	border: none;
	border-radius: 25px;

	color: white;
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 22px;
	letter-spacing: 3px;
}
.gradButtonPurple:hover{
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	background: radial-gradient(149.69% 2611.02% at 100% 182%, #A55EEA 20%, #45AAF2 80%),
				linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
/*  */
a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:focus {
	border-color: #666;
}
